/.phpunit.cache
/.deploy-status
/bootstrap/cache/*.php
/node_modules
/public/build
/public/check.php
/public/hot
/public/storage
/public/store
/public/symlink.php
/public/.well-known
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/debugbar/*.json
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*.log
!/storage/logs/.gitignore
/vendor

.env*
!.env.example
!.env.local.example
!.env.docker.example

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

*.sql
*.sqlite
*.sqlite3
